
   img{
    display:block;

    margin:0 auto;
    
}



html {
  background-image: url(images/8.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
